

{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}关于我{% endblock%}
{% block content %}    <!--content start-->
<div id="content">
       <!--left-->
         <div class="left" id="about_me">
           <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>关于博主</h1></div>
           </div>
           <div class="about_content">
               <p>大家好，我叫连子锐，学生，本科。</p><br>
               <p>爱编程，爱读书，喜欢音乐，热爱篮球，会下棋，喜欢探索和成功后的喜悦。</p><br>
               <p>大学期间参加过几个比赛（数模，软设），半桶水的水平，入了Python坑，然后沉迷其中，偶尔写点小脚本，小爬虫，数据处理倒是更擅长一些，爱倒腾一些机器学习的东西……</p><br>
               <p>本没有写博客的习惯，进来考研压力较大，写点学习的东西，于是捣鼓了一下，利用python的django框架写了这样一个不入流的博客，希望也能也算是一个项目经验吧。</p><br>
               <p>博客实现起来并不很难，做的比较简陋，界面用了wordpress一款主题，在网上看到了大神的博客，将样式照搬过来自己改了改构成网站的主基调。从其他人网站上看着不错的组件，拿过来自己改了改也放上了，用时不长。</p><br>
               <p>2018年全新的开始，认真备研，并无其他，本人喜欢交朋友，微信号：347467045，欢迎大家指正。</p>
           </div>
         </div>
         <!--end left -->
<!--right-->
         <div class="right" id="c_right">
          <div class="s_about">
          <h2>关于博主</h2>
           <img src="{%  static 'images/myphoto/beiying.jpg' %}" width="230" height="230" alt="博主"/>
           <p>博主：连子锐</p>
           <p>职业：学生</p>
           <p>简介：本科生，考研党，java，python，爬虫，web设计，机器学习，数模，爱生活爱篮球</p><br>
           <p>
           <a href="#" title="347467045"><span class="left b_1"></span></a>
{#               <a href="#" title="加入QQ群，一起学习！"><span class="left b_2"></span></a>#}
           <div class="clear"></div>
           </p>
          </div>
          <!--栏目分类-->
           <div class="lanmubox">
              <div class="hd">
               <ul><li>热门文章</li><li>最新文章</li><li class="hd_3">随机文章</li></ul>
              </div>
              <div class="bd">

                <ul>
                     {% for nf in count_five_artical %}
                         <li><a href="/blog/{{nf.id }}/" title="{{ nf.title }}">{{ nf.title }}</a></li>
                     {% endfor %}
{#					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>#}
{#					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>#}
{#					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>#}
{#					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>#}
{#					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>#}
				</ul>
                 <ul>
                     {% for nf in new_five_artical %}
                         <li><a href="/blog/{{nf.id }}/" title="{{ nf.title }}">{{ nf.title }}</a></li>
                     {% endfor %}
{#					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>#}
{#					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>#}
{#					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>#}
{#					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>#}
{#					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>#}
				</ul>
                 <ul>

                     {% for nf in suiji_five_artical %}
                         <li><a href="/blog/{{nf.id }}/" title="{{ nf.title }}">{{ nf.title }}</a></li>
                     {% endfor %}
{#					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>#}
{#					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>#}
{#					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>#}
{#					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>#}
{#					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>#}
				</ul>


              </div>
           </div>
           <!--end-->
           <div class="link">
            <h2>友情链接</h2>
            <p><a href="http://www.bootcss.com/">bootstrap中文网</a></p>
               <p><a href="http://www.runoob.com/django/django-tutorial.html">django教程</a></p>
               <p><a href="http://www.jq22.com/jquery-info590">simditor富文本编辑器</a></p>
           </div>
         </div>
         <!--right end-->
         <div class="clear"></div>
    </div>
{% endblock %}