{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{{a.title}}{% endblock%}
{% block content %}    <!--content start-->
    <div id="content">
         <!--left-->
         <div class="left" id="c_left" style="width: 950px;">
           <div class="s_tuijian" style="width:930px;">
           <h2>文章<span>全文</span></h2>
           </div>
          <div class="content_text">
           <!--wz-->

           <div class="wz" style="width:950px;">

                <h1 style="text-align: center;"><a href="#" title="{{a.title}}" style="color:#6b5d38;">{{a.title}}</a></h1><br><hr><br>
               <div style="margin-left:300px;color:#777;">
                <span>作者：{{ a.author }}&nbsp;| &nbsp;</span>
                <span>时间：{{ a.post_date | date:"20y-m-d" }}&nbsp;| &nbsp;</span>
               <span>分类:{{ a.category  }}</span>
                   </div>
                   <br><hr><br><br>
                <div style=" " class="artical">{{ a.content | safe}}</div>
                {#图片大小：685px #}


                <div class="clear"></div>


               <div class="clear"></div>
             </dl>
            </div>

           <!--wz end-->



           </div>
         </div>
         <!--left end-->
{#                 <!--right-->#}
{#         <div class="right" id="c_right">#}
{#          <div class="s_about">#}
{#          <h2>关于博主</h2>#}
{#           <img src="{%  static 'images/myphoto/beiying.jpg' %}" width="230" height="230" alt="博主"/>#}
{#           <p>博主：连子锐</p>#}
{#           <p>职业：学生</p>#}
{#           <p>简介：本科生，考研党，java，python，爬虫，web设计，机器学习，数模，爱生活爱篮球</p><br>#}
{#           <p>#}
{#           <a href="#" title="347467045"><span class="left b_1"></span></a>#}
{#               <a href="#" title="加入QQ群，一起学习！"><span class="left b_2"></span></a>#}
{#           <div class="clear"></div>#}
{#           </p>#}
{#          </div>#}
{#          <!--栏目分类-->#}
{#           <div class="lanmubox">#}
{#              <div class="hd">#}
{#               <ul><li>精心推荐</li><li>最新文章</li><li class="hd_3">随机文章</li></ul>#}
{#              </div>#}
{#              <div class="bd">#}
{##}
{#                <ul>#}
{#					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>#}
{#					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>#}
{#					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>#}
{#					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>#}
{#					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>#}
{#				</ul>#}
{#                 <ul>#}
{#					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>#}
{#					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>#}
{#					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>#}
{#					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>#}
{#					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>#}
{#				</ul>#}
{#                 <ul>#}
{#					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>#}
{#					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>#}
{#					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>#}
{#					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>#}
{#					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>#}
{#				</ul>#}
{##}
{##}
{#              </div>#}
{#           </div>#}
{#           <!--end-->#}
{#           <div class="link">#}
{#            <h2>友情链接</h2>#}
{#            <p><a href="http://www.duanliang920.com">段亮个人博客</a></p>#}
{#           </div>#}
{#         </div>#}
{#         <!--right end-->#}
         <div class="clear"></div>
    </div>
{% endblock %}