

{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}博客首页{% endblock%}
{% block content %}    <!--content start-->
<div id="content">
       <!--left-->
         <div class="left" id="riji">
           <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>个人日记</h1></div>
           </div>

           <div class="rj_content">
                <!--时光-->
{% for r in riji %}
              <div class="shiguang animated bounceIn">
                <div class="left sg_ico">

                <img src="/media/{{ r.img }}" width="120" height="120" alt=""/>
                </div>
                <div class="right sg_text">
                <img src="{%  static 'images/left.png' %}" width="13" height="16" alt="左图标"/>
                        {{ r.content }}
                </div>
                <div class="clear"></div>
              </div>
               {% endfor %}
              <!--时光 end-->


           </div>
         </div>
         <!--end left -->
         <!--right-->
<!--right-->
         <div class="right" id="c_right">
          <div class="s_about">
          <h2>关于博主</h2>
           <img src="{%  static 'images/myphoto/beiying.jpg' %}" width="230" height="230" alt="博主"/>
           <p>博主：连子锐</p>
           <p>职业：学生</p>
           <p>简介：本科生，考研党，java，python，爬虫，web设计，机器学习，数模，爱生活爱篮球</p><br>
           <p>
           <a href="#" title="347467045"><span class="left b_1"></span></a>
{#               <a href="#" title="加入QQ群，一起学习！"><span class="left b_2"></span></a>#}
           <div class="clear"></div>
           </p>
          </div>
          <!--栏目分类-->
           <div class="lanmubox">
              <div class="hd">
               <ul><li>热门文章</li><li>最新文章</li><li class="hd_3">随机文章</li></ul>
              </div>
              <div class="bd">

                <ul>
                     {% for nf in count_five_artical %}
                         <li><a href="/blog/{{nf.id }}/" title="{{ nf.title }}">{{ nf.title }}</a></li>
                     {% endfor %}
{#					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>#}
{#					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>#}
{#					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>#}
{#					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>#}
{#					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>#}
				</ul>
                 <ul>
                     {% for nf in new_five_artical %}
                         <li><a href="/blog/{{nf.id }}/" title="{{ nf.title }}">{{ nf.title }}</a></li>
                     {% endfor %}
{#					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>#}
{#					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>#}
{#					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>#}
{#					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>#}
{#					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>#}
				</ul>
                 <ul>

                     {% for nf in suiji_five_artical %}
                         <li><a href="/blog/{{nf.id }}/" title="{{ nf.title }}">{{ nf.title }}</a></li>
                     {% endfor %}
{#					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>#}
{#					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>#}
{#					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>#}
{#					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>#}
{#					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>#}
				</ul>


              </div>
           </div>
           <!--end-->
           <div class="link">
            <h2>友情链接</h2>
            <p><a href="http://www.bootcss.com/">bootstrap中文网</a></p>
               <p><a href="http://www.runoob.com/django/django-tutorial.html">django教程</a></p>
               <p><a href="http://www.jq22.com/jquery-info590">simditor富文本编辑器</a></p>
           </div>
         </div>
         <!--right end-->
         <div class="clear"></div>
    </div>
{% endblock %}